/*
    If you are modifying the style or creating a new one you should be
    aware of something. There are two systems that use this style sheet
    
    The Qt system uses this style sheet and the WebKit.
*/

#MainWindow {
    background-color:       black;
}

/* maybe not used */
#TFrame {
    background-color: #999999;
}

#ConsoleWindow {
    border-width:       1px;
    border-color:       white; 
    border-style:       inset;
    background-color:   black;
}

#SubWindow {
    background-color:   #444444;
}

#QPlugLogin {
    background-color:   #444444;
    border-style:       inset;
}

#TabActive {
    background-color:   #dddddd;
    color:              #777777;
}

#TabWidgetArea {
}

#TabLabel {
    font-size:          12pt;
    font-family:        consolas;
}

#TabInactive {
    background-color:   #777777;
    color:              #dddddd;
}

#TabAlerted {
    background-color:   #cc7777;
    color:              #dddddd;
}

#CommandLine {
    color:              white;
    background-color:   #101010; 
    font-family:        consolas; 
    font-size:          10pt;
    border-color:       #888888;
}

#ChannelTab {
    font-size:          12pt;
    font-family:        consolas;
}

#SubWindowTitle {
    font-size:          12pt; 
    font-family:        consolas;
    color:              #aaaaaa;
    background-color:   #555555;
}

#SubWindowMenuButton {
    border:             outset; 
    border-color:       #000000;
    background-color:   #eeeeee;
    border-image:       url(./media/settings.svg);
}

#SizerProxy {
    background-color:   gray;
}

#ConsoleHTMLView {
    background-color:   black;
    color:              white;
}

#StatBarLeft {
    background-color:   #99cc99;
}
#StatBarRight {
    background-color:   #999999;
}

#StatsHealth > #StatBarLeft {
    background-color:   #ff9999;
}
#StatsSpirit > #StatBarLeft {
    background-color:   #9999ff;
}
#StatsEndurance > #StatBarLeft {
    background-color:   #99ff99;
}
#StatsEntityHealth > #StatBarLeft {
    background-color:   #ffff99;
}

#RisingLabelPointsEntityHealth {
    font-size:          34pt;
    color:              #ffff99;
}
#RisingLabelPointsHealth {
    font-size:          34pt;
    color:              #ff9999;
}
#RisingLabelPointsSpirit {
    font-size:          34pt;
    color:              #9999ff;
}
#RisingLabelPointsEndurance {
    font-size:          34pt;
    color:              #99ff99;
}
#RisingLabelPointsExperience {
    font-size:          34pt;
    color:              #ff99ff;
}

/* html color foreground dim */
.hc_fg_black { color: #000000; }
.hc_fg_red { color: #990000; }
.hc_fg_green { color: #009900; }
.hc_fg_yellow { color: #009999; }
.hc_fg_blue { color: #000099; }
.hc_fg_magenta { color: #999900; }
.hc_fg_cyan { color: #990099; }
.hc_fg_white { color: #999999; }
.hc_fg_default { color: #999999; }
/* html color foreground bright */
.hc_bfg_black { color: #333333; }
.hc_bfg_red { color: #ff9999; }
.hc_bfg_green { color: #99ff99; }
.hc_bfg_yellow { color: #99ffff; }
.hc_bfg_blue { color: #9999ff; }
.hc_bfg_magenta { color: #ffff99; }
.hc_bfg_cyan { color: #ff99ff; }
.hc_bfg_white { color: #ffffff; }
.hc_bfg_default { color: #ffffff; }
/* html color background */
.hc_bg_black { background-color: #000000; }
.hc_bg_red { background-color: #990000; }
.hc_bg_green { background-color: #009900; }
.hc_bg_yellow { background-color: #009999; }
.hc_bg_blue { background-color: #000099; }
.hc_bg_magenta { background-color: #999900; }
.hc_bg_cyan { background-color: #990099; }
.hc_bg_white { background-color: #999999; }
.hc_bg_default { background-color: #000000; }

/* html prompt in console window, actually colored by .hc_* classes */
.xprompt {
    font-style:    italic;
    color:         #448844;
}

/*
    this is a DIV element that surrounds all the individual lines, where each
    individual line is also an DIV element with one or more span elements inside
    of it which represent the different color/style parts of the line

    i mainly use this to force a wrap of the text at 600px which the server will
    normally respect except since the client connects using the batclient extension
    certain messages will not be wrapped by the server for example channel messages
    because it makes it VERY hard to parse for them when they wrap so this helps to
    catch that problem with out us doing any additional processing to manually break
    the text -- in a nutshell if the server fails to wrap the line we will force it
    to be wrapped here with out manually inserting line breaks
*/
.lines {
    width:      560px;
    word-wrap:  break-word;
}

/* html console window */
body { 
    color:              white;              /* is overidden by .hc_* classes anyway */
    /* background-color:   #345634; if enabled will provide a neat effect */
    font-family:        consolas; 
    font-size:          10pt;
}